<% layout('layouts/boilerplate')%>

<h1>All Tea Stalls</h1>
<div>
  <a href="/chainagri/new">Add Tea Stall</a>
</div>

<% for (let chainagris of chainagri){%>
    <div class="card" mb-3>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=chainagris.image%>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= chainagris.title %> </h5>
                    <p class="card-text"><%= chainagris.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= chainagris.location%></small>
                    </p>
                    <a class="btn btn-primary" href="/chainagri/<%=chainagris._id%>">View <%=chainagris.title%></a>
                </div>
            </div>
        </div>
    </div>

<% }%>

